# dependencies
node_modules

.build

# opennext
.open-next

# misc
.DS_Store

# local env files
.env*.local
.env

# DB seed
packages/client/db/seed.ts

# SST
.sst/*
.obsidian/*

# IDE
.vscode

playwright-report/
test-results/
.devdbrc

